@()

@dollarDays("Hello World") {
    @defining(play.core.PlayVersion.current) { version =>

        <section id="content">

            <div id='app'>
                <div>
                    <b-button @@click="toggle" size="sm">
                    {{ show ? 'Hide' : 'Show' }} Alert
                </b-button>
                <b-alert v-model="show"
                dismissible
                    @@dismissed="dismissed"
                    class="mt-3">
                    Hello {{ name }}!
                </b-alert>
                </div>
            </div>
        </section>

      <script>
              window.onload = function() {
                  new Vue({
                      el: '#app',

                      data () {
                          return {
                              name: 'BootstrapVue',
                              show: true
                          }
                      },
                      watch: {
                          show (newVal, oldVal) {
                              console.log('Alert is now ' + (this.show ? 'visible' : 'hidden'))
                          }
                      },
                      methods: {
                          toggle () {
                              console.log('Toggle button clicked')
                              this.show = !this.show
                          },
                          dismissed () {
                              console.log('Dismiss button clicked')
                          }
                      }
                  })
              }
      </script>
    }
}